body
{
	background-color: lightyellow;
}

h2
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

a
{
	text-decoration: none;
}

.header
{
	background: darkgrey;
	color: #36383a;
	text-align: center;
	font-family: arial;
}

.footer
{
	background: darkgrey;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #36383a;
	text-align: center;
	font-family: arial;
}

table
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table, th, td
{
	border: 1px solid black;
}

tr:hover
{
	background-color: white;
}

tr:nth-child(odd)
{
	background-color: lightgreen;
}

tr:nth-child(even)
{
	background-color: lightblue;